<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBShangJia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFBD5B2B1D962AF500849BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFBD5B441D962AF500849BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFBD5B4F1D962AF500849BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
